In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv('data.csv')
df.head()

,text,summary1,summary2
0,My boyfriend and I are long distance. We have ...,Mum is mad at me for not flying on my own tri...,I have made sure my mother is comfortable wit...
1,My landlord left a falsified message taped to ...,My landlord is harassing me and my neighbours...,landlord pretended to be another tenant and w...
2,"A few months ago, I asked my RA if she wanted ...","RA owes me money, made me buy her toys in a f...",RA verbally abused me and I want to get her t...
3,1) I got a DWI in 2014\n\n2) I have a wonderfu...,"10) On a scale from 1-10, how mad would you b...","I am stuck at work, my girlfriend is going to..."
4,So my wedding dress arrived last week. I had s...,"My dress looks different to how I wanted it, ...",My mother asked my dress maker to change the ...

In [3]:
idx = random.sample(range(0, len(df)), k = 5)
test_df = df[['text', 'summary1']].iloc[idx]
test_df.head()

,text,summary1
16023,I am in a very happy relationship and a guy I ...,"Guy at work hit on me, has horrible boundarie..."
8972,"I have a friend. \nLets call her, Jen. because...","My girl best friend, who I like, snogs my boy..."
6027,So I am 22 and have had a credit card for two ...,collections can't make sense of credit report...
660,Hi there i made a post a few hours ago about u...,"So if you want to sell something on my site, ..."
1027,So there is this girl at my school that I have...,I like a girl at school but my mom's name is ...

In [4]:
test_df.to_csv('code_review_test_data.csv', index = False)